
<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
    <span class="navbar-brand text-white">Legacy Builders</span>
    <div class="navbar-nav">
        <span *ngIf="!isLoggedIn"><a class="nav-item nav-link text-white" routerLink="/login">Login</a></span>
        <span *ngIf="isLoggedIn"><a class="nav-item nav-link text-white" href="#" (click)="logout()">Logout</a></span>
        <span *ngIf="isLoggedIn"><a class="nav-item nav-link text-white"routerLink="/judge">Judge</a></span>
        <span *ngIf="isLoggedIn && !isAdmin"><a class="nav-item nav-link text-white" routerLink="/admin/results">Results</a></span>
        <span *ngIf="isLoggedIn && isAdmin"><a class="nav-item nav-link text-white" routerLink="/admin">Admin</a></span>
    </div>
</nav>