.judge-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 10px; */
    grid-auto-rows: 50px;
}
.judge-table {
  display: flex;
  margin: auto;

}
.judge-item {
  margin: auto;
  text-align: center;
  width: 100%;
}
.category {
  font-size: 1.25rem;
  /* line-height: 2.5rem; */
  color: blue;
}
ngb-rating {
  outline: none;
}

.star {
  font-size: 30px;
  margin-left: 3px;
  color: #b0c4de;
  outline: none;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
.max {
  color: #D3E8BE;
}
.filled.max {
  color: #40d684;
}
/* button[type='button'] {
  border-radius: 4px;
  cursor: pointer;
}
button[type='button']:hover {
  color: #607D8B;
} */
.contestants {
  margin-top: 2em;
  /* list-style-type: none;
  padding: 0; */
  /* width: 20em; */
}

  /* .contestants li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  } */
  
.tabTitle {
  font-size: large;
}
  
  /* .contestants a:hover {
    color:#607D8B;
  } */
  
.contestants .badge {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.5em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: 2px;
  top: -2px;
  height: 2.0em;
  min-width: 52px;
  max-width: 52px;
  text-align: center;
  margin-right: .8em;
  border-radius: 26px;
}
.contestants .rate {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: yellow;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3.0em;
  min-width: 52px;
  max-width: 52px;
  text-align: center;
  margin-right: .8em;
  border-radius: 4px;
  transform:rotate(45deg);
}
.shape-section {
  margin-left: 15px;
  /* background: #222; */
  /* border-bottom: 2px solid #555; */
  /* border-top: 2px solid #555; */
  /* margin-top: 30px; */
  /* padding: 40px 0; */
}
.diamond-shape {
  background: yellow;
  height: 25px;
  text-align: center;
  transform:rotate(45deg);
	width: 25px;
}
.shape-item {
  color: black;
  display: table-cell;
  height: 25px;
  transform: rotate(-45deg);
  vertical-align: middle;
	width: 25px;
} 
button {
  margin-top: 1em;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}
button[type='submit'] {
  font-size: xx-large;
}

button:hover {
  background-color: #40d684;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}