
  <div *ngIf="error" class="alert alert-danger" role="alert">
    Please vote for all contestants and categories
  </div>
  <div *ngIf="alreadyVoted" class="alert alert-danger" role="alert">
    Sorry, you've already voted and can't vote again.
  </div>
  <div class="" *ngFor="let c of contestants">
    <div class="contestants">
      <h3>Contestant <span class="badge">#{{c.id}}</span></h3>
    </div>
    <div class="judge-wrapper">
      <!-- <div class="judge-table"> -->
        <div class="judge-item">
          <span class="category">Taste</span>
        </div>
        <div class="judge-item">
          <ngb-rating [max]="maxStars" class="" (rateChange)="rateChange('taste',c,$event)">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" 
                [class.bad]="index < 2" 
                [class.max]="index === (maxStars - 1)">&#9733;
              </span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="judge-item">
          <div class="shape-section">
            <div class="diamond-shape">
              <span [hidden]="!c['taste']" class="shape-item">{{ c['taste'] }}</span>
              <span [hidden]="c['taste']" class="shape-item">0</span>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <div class="judge-wrapper">
      <!-- <div class="judge-table"> -->
        <div class="judge-item">
            <span class="category">Texture</span>
        </div>
        <div class="judge-item">
          <ngb-rating [max]="maxStars" class="" (rateChange)="rateChange('text',c,$event)">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" 
                [class.bad]="index < 2" 
                [class.max]="index === (maxStars - 1)">&#9733;
              </span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="judge-item">
          <div class="shape-section">
            <div class="diamond-shape">
              <span [hidden]="!c['text']" class="shape-item">{{ c['text'] }}</span>
              <span [hidden]="c['text']" class="shape-item">0</span>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <div class="judge-wrapper">
      <!-- <div class="judge-table"> -->
        <div class="judge-item">
            <span class="category">Appearance</span>
        </div>
        <div class="judge-item">
          <ngb-rating [max]="maxStars" class="" (rateChange)="rateChange('appear',c,$event)">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" 
                [class.bad]="index < 2" 
                [class.max]="index === (maxStars - 1)">&#9733;
              </span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="judge-item">
          <div class="shape-section">
            <div class="diamond-shape">
              <span [hidden]="!c['appear']" class="shape-item">{{ c['appear'] }}</span>
              <span [hidden]="c['appear']" class="shape-item">0</span>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>

  <div class="mt-2">
    <button class="mt-4" type="submit" (click)="vote()">Vote!</button>
  </div>

