<div class="">
  <div *ngIf="tab===0">
    <h4>Vote on Taste</h4>
    <ul class="contestants">
      <li *ngFor="let c of contestants">
        <span class="badge">#{{c.id}}</span>
        <ngb-rating [max]="maxStars" class="star" (rateChange)="rateChange('taste',c,$event)">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" 
                  [class.bad]="index < 2" 
                  [class.max]="index === (maxStars - 1)">&#9733;
                </span>
            </ng-template>
        </ngb-rating>
      </li>
    </ul>
    <button type="button" (click)="tab=1">Done With Taste</button>
  </div>
  <div *ngIf="tab===1">
    <h4>Vote on Appearance</h4>
    <ul class="contestants">
      <li *ngFor="let c of contestants">
        <span class="badge">#{{c.id}}</span>
        <ngb-rating [max]="maxStars" class="star" (rateChange)="rateChange('appear',c,$event)">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" 
                  [class.bad]="index < 2" 
                  [class.max]="index === (maxStars - 1)">&#9733;
                </span>
            </ng-template>
        </ngb-rating>
      </li>
    </ul>
    <button type="button" (click)="tab=2">Done With Appearance</button>
  </div>
  <div *ngIf="tab===2">
    <h4>Vote on Texture</h4>
    <ul class="contestants">
      <li *ngFor="let c of contestants">
        <span class="badge">#{{c.id}}</span>
        <ngb-rating [max]="maxStars" class="star" (rateChange)="rateChange('text',c,$event)">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" 
                  [class.bad]="index < 2" 
                  [class.max]="index === (maxStars - 1)">&#9733;
                </span>
            </ng-template>
        </ngb-rating>
      </li>
    </ul>
    <button type="button" (click)="tab=3">Done With Texture</button>
  </div>
  <div *ngIf="tab===3">
    <h4>Submit Your Vote!</h4>
    <button class="mt-4" type="submit" (click)="vote()">Vote!</button>
  </div>
</div>
